/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/azure-blue.css';

@font-face {
	font-family: 'Tisza Sans';
	src: url('/assets/DKg8PzuRXqfCbl7PpSZf19jeX4.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Tisza Sans';
	src: url('/assets/HsVDMisU0uwbbP0exXU5MsN4W0U.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Tisza Sans', Arial, sans-serif;
	margin: 0;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #080c21 transparent;
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #080c21;
	border-radius: 999px;
	border: 3px solid transparent;
	background-clip: content-box;
}
